<!DOCTYPE html>
<html>
  <head>
    <title>InfoBot9000</title>
    <%= csrf_meta_tags %>
	<%# 
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	%>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    
	<script>
        $(document).on('turbolinks:load', function() {
            $('#infos').DataTable();
        })
        $(document).on('turbolinks:load', function() {
            $('#example').DataTable();
        })
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
